body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
/* Navbar container */
.navbar {
  background-color: black;
  width: 100%;
  padding: 26px 0;
  color: white !important;
  justify-content: center;
  align-items: center;
  display: flex;
}
.nav-link{
  color: white !important;
  font-size: 18px;
}
.navbar-brand{
  color: black !important;
  background-color: white;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
}

.news-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  justify-items: center; 
}

.news-card {
  width: 400px; 
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.card-img-top {
  width: 100%;
  height: 280px;
  object-fit: cover;
}
.readMoreBtn{
  background-color: indigo;
  color: white;
}
/* .readMoreBtn:hover{
  
} */